canvas {
  background-color: lightblue;
  display: block;
  position: relative;
}

#score {
  color: tomato;
  font-size: 24px;
  font-weight: bold;
  margin-left: 300px;
  margin-right: 300px;
  display: inline-block;
  position: absolute;
}
